<!DOCTYPE html>
<html>
<head>
  <meta http-equiv=Content-type content="text/html; charset=utf-8">
  <title>adjc.tv</title>
  <%= css :application %>
</head>
<body>

<div id="word"><%= @word %></div>

</body>
</html>
